/* Author: ZoieAnn Baird
 * Date: 2/11/2025
 * File Name: styles.css
 */
/* CSS Reset*/
Body,
header,
nav,
main,
footer,
h1,
div img {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Mobile Viewport*/

/*Show Mobile, hide Tab-desk*/
.mobile {
    display: block;
}

.tab-desk {
    display: none;
}


/* General Style Rules */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333333;
}

/* Style rules for Header section */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.logo {
    width: 150px;
    border-radius: 50%;


}

/* Style rules for nav section */
nav {
    background-color: #d98383;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 0.5em 1em;
    display: block;
    border-top: 1px solid #fff;
    font-family: "Playfair Display", serif;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: color 0.3s ease;
    padding: 0.5em 1em;
}



/* Style rules for home and Main Content */
main {
    padding: 3px;
    text-align: center;
    font-family: "Playfair Display", serif;
}


/* Style rules for Portfolio Section */

.mobile h2 {
    font-size: 2em
}

#portfolio {
    margin-top: 31px;
}

#portfolio img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}



#Art {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

#Art img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}




/* style rules for About Page */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about {
    max-width: 500px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #222;
}

h3 {
    font-size: 24px;
    color: #444;
}


/* Style rules for Commissions Section */
#commissions div {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#commissions h1 {
    text-align: center;
    font-size: 32px;
    color: #222;
}

#commissions h2 {
    font-size: 26px;
    color: #444;
}

#commissions p {
    font-size: 16px;
    color: #555;
    max-width: 800px;
    margin: 10px auto;
}

#commissions a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d98383;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}



/* Style Rules for Contact Page*/

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacts {
    padding: 8%
}

.accent {
    color: #d98383
}

#contact p {
    padding: 2%
}

#contact a {
    color: #555;
    text-decoration: none;
}

.socials{
    color: #d98383;
    text-decoration: underline;
}

.map {
    padding-top: 5%;
    width: 95%;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Style rules for Resume*/
#resume {
    background-color: white;
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-top: 4%;
}

#resume h3 {
    text-align: center;
}

#resume dt {
    padding: 3% 4% 1%;
    font-weight: bold;
    color: #555;
}

#education p {
    padding-left: 4%
}

#softwares ul {
    padding-left: 5%
}

#skills ul {
    padding-left: 5%
}

/* Style rules for Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #d98383;
    color: white;
    margin-top: 50px;
    font-family: "Playfair Display", serif;
}

footer a {
    color: white;
    text-decoration: none;
}

/*Media Query for Tablet Viewport*/
@media screen and (min-width: 668px),
print {

    /* Tablet viewport: show tablet tablet desktop class, hide mobile class*/
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet viewport style rules for header*/
    header {
        position: static;
        padding-bottom: 2%;
    }

    /* Tablet viewport style rules for Nav area*/
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em;
        font-size: 21px;
    }

    /* Tablet viewport style rules for main area*/
    main ul {
        margin: 0 0 4% 10%;
    }

    #mission {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #bookshelf {
        width: 300px;
        margin-right: 20px;
        border-radius: 10px;
    }

    .welcome {
        max-width: 500px;
        text-align: center;
    }

    .Explore a {
        display: inline-block;
        background-color: #d98383;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    #Art img {
        width: 39%;
    }

    #portrait {
        width: 300px;
        border-radius: 10px;
        padding: 3%
    }

}

/*Media Query for Desktop Viewport*/
@media screen and (min-width: 1015px),
print {
    
    .socials{
     color: #333333;
     text-decoration: none;
    }

    nav ul li a:hover {
        color: #f4ce73;
    }


    .Explore a:hover {
        background-color: rgba(231, 131, 60, 0.63);
    }

    #portfolio img:hover {
        transform: scale(1.05);
    }

    #Art img:hover {
        transform: scale(1.05);
    }



    #commissions a:hover {
        background-color: rgba(231, 131, 60, 0.63);
    }

    #contact a:hover {
        text-decoration: underline;
        color: #d98383
    }

    footer a:hover {
        text-decoration: underline
    }
}